<!DOCTYPE html>
<html>
    <head>
        <title>Cloudinary Uploader Template</title>
        <% include ./partials/head %>
    </head>
    <body>
        <div class="container" id="photo">
            <h1>Upload a photo</h1>
            <div class="grid-x grid-padding-x">
                <div class="large-1 cell" id="photo_container">
                    <a href="#" id="upload_widget_opener">Upload multiple images</a>
                </div>
            </div>
        </div>
        <% include ./partials/footer %>
    </body>
</html>